<div *ngIf="trustee">
    <h2>Update Trustee</h2>
    <hr>
    <div  *ngIf="isUpdated" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Trustee Record Updated Successfully!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="trusteeForm" (ngSubmit)="updateTrusteeRecord(trusteeForm.value)" #form="ngForm">
      <div class="form-group row">
        <label for="inputPrefix" class="col-sm-2 col-form-label">Prefix</label>
        <div class="col-sm-3">
            <select class="form-control" id="inputPrefix" formControlName="prefix" [value]="trustee.prefix">
              <option>Please select...</option>
              <option>Mr.</option>
              <option>Ms.</option>
              <option>Mrs.</option>
            </select>
            <span class="help-block" *ngIf="trusteeForm.controls.prefix.invalid && form.submitted">
              <div *ngIf="trusteeForm.controls.prefix.errors.required || trusteeForm.controls.prefix.errors.validDropDown">
                  Prefix is required.
              </div>
            </span>
        </div>
        <label for="inputResidencyCountry" class="col-sm-4 col-form-label">Country of Residence</label>
        <div class="col-sm-3">
            <select class="form-control" id="inputResidencyCountry" formControlName="countryOfResidence" [value]="trustee.countryOfResidence">
              <option>Please select...</option>
              <option>Australia</option>
              <option>India</option>
              <option>United States</option>
            </select>
            <span class="help-block" *ngIf="trusteeForm.controls.countryOfResidence.invalid && form.submitted">
              <div *ngIf="trusteeForm.controls.countryOfResidence.errors.required || trusteeForm.controls.countryOfResidence.errors.validDropDown">
                  Please select a country of residence.
              </div>
            </span>
        </div>
      </div>
      <hr>
      <div class="form-group row">
        <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="inputFirstName" formControlName="firstName" [value]="trustee.firstName">
          <span class="help-block" *ngIf="trusteeForm.controls.firstName.invalid && form.submitted">
            <div *ngIf="trusteeForm.controls.firstName.errors.required">
                First name is required.
            </div>
          </span>
        </div>
        <label for="inputPassport" class="col-sm-4 col-form-label">Passport #</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="inputPassport" formControlName="passport" [value]="trustee.passport">
          <span class="help-block" *ngIf="trusteeForm.controls.passport.invalid && form.submitted">
            <div *ngIf="trusteeForm.controls.passport.errors.required">
                Passport is required.
            </div>
            <div *ngIf="trusteeForm.controls.passport.errors.pattern">
              Passport no. should have a single alphabet followed by 7 digits.
            </div>
          </span>
        </div>
      </div>
      <hr>
      <div class="form-group row">
        <label for="inputMiddleName" class="col-sm-2 col-form-label">Middle Name</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="inputMiddleName" formControlName="middleName" [value]="trustee.middleName">
        </div>
        <label for="inputIssuanceCountry" class="col-sm-4 col-form-label">Country of Issuance</label>
        <div class="col-sm-3">
            <select class="form-control" id="inputIssuanceCountry" formControlName="countryOfIssuance" [value]="trustee.countryOfIssuance">
              <option>Please select...</option>
              <option>Australia</option>
              <option>India</option>
              <option>United States</option>
            </select>
            <span class="help-block" *ngIf="trusteeForm.controls.countryOfIssuance.invalid && form.submitted">
              <div *ngIf="trusteeForm.controls.countryOfIssuance.errors.required || trusteeForm.controls.countryOfIssuance.errors.validDropDown">
                  Please select a country of issuance.
              </div>
            </span>
        </div>
      </div>
      <hr>
      <div class="form-group row">
        <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="inputLastName" formControlName="lastName" [value]="trustee.lastName">
          <span class="help-block" *ngIf="trusteeForm.controls.lastName.invalid && form.submitted">
            <div *ngIf="trusteeForm.controls.lastName.errors.required">
                Last name is required.
            </div>
          </span>
        </div>
        <label for="inputIssuanceDate" class="col-sm-4 col-form-label">Issuance Date</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="inputIssuanceDate" formControlName="issuanceDate" [value]="trustee.issuanceDate">
          <span class="help-block" *ngIf="trusteeForm.controls.issuanceDate.invalid && form.submitted">
            <div *ngIf="trusteeForm.controls.issuanceDate.errors.required || trusteeForm.controls.issuanceDate.errors.pattern">
                Issuance Date should be provided in the format DD-MM-YYYY.
            </div>
          </span>
        </div>
      </div>
      <hr>
      <div class="form-group row">
        <label for="inputShortName" class="col-sm-2 col-form-label">Short Name</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="inputShortName"  formControlName="shortName" [value]="trustee.shortName">
          <span class="help-block" *ngIf="trusteeForm.controls.shortName.invalid && form.submitted">
            <div *ngIf="trusteeForm.controls.shortName.errors.required">
                Short name is required.
            </div>
          </span>
        </div>
        <label for="inputExpirationDate" class="col-sm-4 col-form-label">Expiration Date</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="inputExpirationDate" formControlName="expirationDate" [value]="trustee.expirationDate">
          <span class="help-block" *ngIf="trusteeForm.controls.expirationDate.invalid && form.submitted">
            <div *ngIf="trusteeForm.controls.expirationDate.errors.required || trusteeForm.controls.expirationDate.errors.pattern">
              Expiration Date should be provided in the format DD-MM-YYYY.
            </div>
          </span>
        </div>
      </div>
      <hr>
      <div class="form-group row">
        <label for="inputSsn" class="col-sm-2 col-form-label">SSN</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="inputSsn" formControlName="ssn" [value]="trustee.ssn">
          <span class="help-block" *ngIf="trusteeForm.controls.ssn.invalid && form.submitted">
            <div *ngIf="trusteeForm.controls.ssn.errors.required">
                SSN is required.
            </div>
            <div *ngIf="trusteeForm.controls.ssn.errors.pattern">
                SSN should be a numeric value with 9 digits.
            </div>
          </span>
        </div>
        <label for="inputNoOfDependents" class="col-sm-4 col-form-label">No Of Dependents</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="inputNoOfDependents" formControlName="noOfDependents" [value]="trustee.noOfDependents">
          <span class="help-block" *ngIf="trusteeForm.controls.noOfDependents.invalid && form.submitted">
            <div *ngIf="trusteeForm.controls.noOfDependents.errors.required || trusteeForm.controls.noOfDependents.errors.pattern">
                A trustee can have only 0 or more dependents.
            </div>
          </span>
        </div>
      </div>
      <hr>
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" id="gridMale" value="Male" formControlName="gender" [checked]="trustee.gender == 'Male'">
              <label class="form-check-label" for="gridMale">
                Male
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="gridFemale" value="Female" formControlName="gender" [checked]="trustee.gender == 'Female'">
              <label class="form-check-label" for="gridFemale">
                Female
              </label>
            </div>
            <span class="help-block" *ngIf="trusteeForm.controls.gender.invalid && form.submitted">
              <div *ngIf="trusteeForm.controls.gender.errors.required">
                  Please select a value for gender.
              </div>
            </span>
          </div>
        </div>
      </fieldset>
        <div class="form-group row">
        <label for="inputMaritalStatus" class="col-sm-2 col-form-label">Marital Status</label>
        <div class="col-sm-3">
            <select class="form-control" id="inputMaritalStatus" formControlName="maritalStatus" [value]="trustee.maritalStatus">
              <option>Please select...</option>
              <option>Married</option>
              <option>Unmarried</option>
            </select>
            <span class="help-block" *ngIf="trusteeForm.controls.maritalStatus.invalid && form.submitted">
              <div *ngIf="trusteeForm.controls.maritalStatus.errors.required || trusteeForm.controls.maritalStatus.errors.validDropDown">
                  Please select a marital status.
              </div>
            </span>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2">
          <button type="submit" class="btn btn-outline-info" [routerLink]="['/trustees', trustee.id, 'edit']">Update</button>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-outline-dark" routerLink="/" [disabled]="isUpdated">Cancel</button>
        </div>
      </div>
    </form>
</div>