<div *ngIf="user">
    <h2>View User Details</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Country</th>
            <th>SSN/TIN</th>
            <th>Gender</th>
            <th>Marital Status</th>
            <th>Country of Residence</th>
            <th>Passport</th>
            <th>Expiration Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ user.shortName}}</td>
            <td>{{ user.countryOfResidence }}</td>
            <td>{{ user.ssn }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.maritalStatus }}</td>
            <td>{{ user.countryOfResidence }}</td>
            <td>{{ user.passport }}</td>
            <td>{{ user.expirationDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-outline-info btn-xs" routerLink="/">Back to Dashboard</button>
</div>