<h2>User Creation</h2>
<hr>
<form [formGroup]="userForm" (submit)="createUserRecord(userForm.value)">
  <div class="alert alert-danger" *ngIf="(userForm.controls.prefix.touched || userForm.controls.prefix.dirty) && userForm.controls.prefix.invalid">
        <div *ngIf="userForm.controls.prefix.errors.required || userForm.controls.prefix.errors.validDropDown">
            Prefix/salutation is required.
        </div>
  </div>
  <div class="alert alert-danger" *ngIf="(userForm.controls.firstname.touched || userForm.controls.firstname.dirty) && userForm.controls.firstname.invalid">
        <div *ngIf="userForm.controls.firstname.errors.required">
            First name is required.
        </div>
  </div>
  <div class="alert alert-danger" *ngIf="(userForm.controls.lastname.touched || userForm.controls.lastname.dirty) && userForm.controls.lastname.invalid">
        <div *ngIf="userForm.controls.lastname.errors.required">
            Last name is required.
        </div>
  </div>
  <div class="alert alert-danger" *ngIf="(userForm.controls.shortname.touched || userForm.controls.shortname.dirty) && userForm.controls.shortname.invalid">
        <div *ngIf="userForm.controls.shortname.errors.required">
            Short name is required.
        </div>
  </div>
  <div class="alert alert-danger" *ngIf="(userForm.controls.ssn.touched || userForm.controls.ssn.dirty) && userForm.controls.ssn.invalid">
        <div *ngIf="userForm.controls.ssn.errors.required">
            SSN is required.
        </div>
        <div *ngIf="userForm.controls.ssn.errors.pattern">
            SSN should be a numeric value with 9 digits.
        </div>
  </div>
  <div class="alert alert-danger" *ngIf="(userForm.controls.countryOfResidence.touched || userForm.controls.countryOfResidence.dirty) && userForm.controls.countryOfResidence.invalid">
        <div *ngIf="userForm.controls.countryOfResidence.errors.required || userForm.controls.countryOfResidence.errors.validDropDown">
            Please select a country of residence.
        </div>
  </div>
  <div class="alert alert-danger" *ngIf="(userForm.controls.passport.touched || userForm.controls.passport.dirty) && userForm.controls.passport.invalid">
        <div *ngIf="userForm.controls.passport.errors.required">
            Passport is required.
        </div>
        <div *ngIf="userForm.controls.passport.errors.pattern">
          Passport no. should have a single alphabet followed by 7 digits.
      </div>
  </div>
  <div class="alert alert-danger" *ngIf="(userForm.controls.countryOfIssuance.touched || userForm.controls.countryOfIssuance.dirty) && userForm.controls.countryOfIssuance.invalid">
        <div *ngIf="userForm.controls.countryOfIssuance.errors.required || userForm.controls.countryOfIssuance.errors.validDropDown">
            Please select a country of issuance.
        </div>
  </div>
  <div class="alert alert-danger" *ngIf="(userForm.controls.noOfDependents.touched || userForm.controls.noOfDependents.dirty) && userForm.controls.noOfDependents.invalid">
        <div *ngIf="userForm.controls.noOfDependents.errors.required || userForm.controls.noOfDependents.errors.pattern">
            A user can have only 0 or more dependents.
        </div>
  </div>
  <div class="alert alert-danger" *ngIf="(userForm.controls.maritalStatus.touched || userForm.controls.maritalStatus.dirty) && userForm.controls.maritalStatus.invalid">
        <div *ngIf="userForm.controls.maritalStatus.errors.required || userForm.controls.maritalStatus.errors.validDropDown">
            Please select a marital status.
        </div>
  </div>
  <div class="form-group row">
    <label for="inputPrefix" class="col-sm-2 col-form-label">Prefix</label>
    <div class="col-sm-3">
        <select class="form-control" id="inputPrefix" formControlName="prefix">
          <option>Please select...</option>
          <option>Mr.</option>
          <option>Ms.</option>
          <option>Mrs.</option>
        </select>
    </div>
    <label for="inputResidencyCountry" class="col-sm-4 col-form-label">Country of Residence</label>
    <div class="col-sm-3">
        <select class="form-control" id="inputResidencyCountry" formControlName="countryOfResidence">
          <option>Please select...</option>
          <option>Australia</option>
          <option>India</option>
          <option>United States</option>
        </select>
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputFirstName" formControlName="firstname">
    </div>
    <label for="inputPassport" class="col-sm-4 col-form-label">Passport #</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputPassport" formControlName="passport">
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="inputMiddleName" class="col-sm-2 col-form-label">Middle Name</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputMiddleName" formControlName="middlename">
    </div>
    <label for="inputIssuanceCountry" class="col-sm-4 col-form-label">Country of Issuance</label>
    <div class="col-sm-3">
        <select class="form-control" id="inputIssuanceCountry" formControlName="countryOfIssuance">
          <option>Please select...</option>
          <option>Australia</option>
          <option>India</option>
          <option>United States</option>
        </select>
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputLastName" formControlName="lastname">
    </div>
    <label for="inputIssuanceDate" class="col-sm-4 col-form-label">Issuance Date</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputIssuanceDate" formControlName="issuanceDate">
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="inputShortName" class="col-sm-2 col-form-label">Short Name</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputShortName"  formControlName="shortname">
    </div>
    <label for="inputExpirationDate" class="col-sm-4 col-form-label">Expiration Date</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputExpirationDate" formControlName="expirationDate">
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="inputSsn" class="col-sm-2 col-form-label">SSN</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputSsn" formControlName="ssn">
    </div>
    <label for="inputNoOfDependents" class="col-sm-4 col-form-label">No Of Dependents</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputNoOfDependents" formControlName="noOfDependents">
    </div>
  </div>
  <hr>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" id="gridMale" value="male" formControlName="gender" [checked]="true">
          <label class="form-check-label" for="gridMale">
            Male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="gridFemale" value="female" formControlName="gender">
          <label class="form-check-label" for="gridFemale">
            Female
          </label>
        </div>
      </div>
    </div>
  </fieldset>
    <div class="form-group row">
    <label for="inputMaritalStatus" class="col-sm-2 col-form-label">Marital Status</label>
    <div class="col-sm-3">
        <select class="form-control" id="inputMaritalStatus" formControlName="maritalStatus">
          <option>Please select...</option>
          <option>Married</option>
          <option>Unmarried</option>
        </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <button type="submit" class="btn btn-outline-info" routerLink="/users/new" [disabled]="!userForm.valid">Create</button>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-outline-secondary" (click)="resetForm()">Reset</button>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-outline-dark" routerLink="/">Cancel</button>
    </div>
  </div>
</form>
