<h2>Trustee Creation</h2>
<hr>
<form [formGroup]="trusteeForm" (submit)="createTrustee(trusteeForm.value)">
  <div class="alert alert-danger" *ngIf="(trusteeForm.controls.prefix.touched || trusteeForm.controls.prefix.dirty) && trusteeForm.controls.prefix.invalid">
        <div *ngIf="trusteeForm.controls.prefix.errors.required || trusteeForm.controls.prefix.errors.validDropDown">
            Prefix/salutation is required.
        </div>
  </div>
  <div class="alert alert-danger" *ngIf="(trusteeForm.controls.firstName.touched || trusteeForm.controls.firstName.dirty) && trusteeForm.controls.firstName.invalid">
        <div *ngIf="trusteeForm.controls.firstName.errors.required">
            First name is required.
        </div>
  </div>
  <div class="alert alert-danger" *ngIf="(trusteeForm.controls.lastName.touched || trusteeForm.controls.lastName.dirty) && trusteeForm.controls.lastName.invalid">
        <div *ngIf="trusteeForm.controls.lastName.errors.required">
            Last name is required.
        </div>
  </div>
  <div class="alert alert-danger" *ngIf="(trusteeForm.controls.shortName.touched || trusteeForm.controls.shortName.dirty) && trusteeForm.controls.shortName.invalid">
        <div *ngIf="trusteeForm.controls.shortName.errors.required">
            Short name is required.
        </div>
  </div>
  <div class="alert alert-danger" *ngIf="(trusteeForm.controls.ssn.touched || trusteeForm.controls.ssn.dirty) && trusteeForm.controls.ssn.invalid">
        <div *ngIf="trusteeForm.controls.ssn.errors.required">
            SSN is required.
        </div>
        <div *ngIf="trusteeForm.controls.ssn.errors.pattern">
            SSN should be a numeric value with 9 digits.
        </div>
  </div>
  <div class="alert alert-danger" *ngIf="(trusteeForm.controls.countryOfResidence.touched || trusteeForm.controls.countryOfResidence.dirty) && trusteeForm.controls.countryOfResidence.invalid">
        <div *ngIf="trusteeForm.controls.countryOfResidence.errors.required || trusteeForm.controls.countryOfResidence.errors.validDropDown">
            Please select a country of residence.
        </div>
  </div>
  <div class="alert alert-danger" *ngIf="(trusteeForm.controls.passport.touched || trusteeForm.controls.passport.dirty) && trusteeForm.controls.passport.invalid">
        <div *ngIf="trusteeForm.controls.passport.errors.required">
            Passport is required.
        </div>
        <div *ngIf="trusteeForm.controls.passport.errors.pattern">
          Passport no. should have a single alphabet followed by 7 digits.
      </div>
  </div>
  <div class="alert alert-danger" *ngIf="(trusteeForm.controls.countryOfIssuance.touched || trusteeForm.controls.countryOfIssuance.dirty) && trusteeForm.controls.countryOfIssuance.invalid">
        <div *ngIf="trusteeForm.controls.countryOfIssuance.errors.required || trusteeForm.controls.countryOfIssuance.errors.validDropDown">
            Please select a country of issuance.
        </div>
  </div>
  <div class="alert alert-danger" *ngIf="(trusteeForm.controls.issuanceDate.touched || trusteeForm.controls.issuanceDate.dirty) && trusteeForm.controls.issuanceDate.invalid">
        <div *ngIf="trusteeForm.controls.issuanceDate.errors.required || trusteeForm.controls.issuanceDate.errors.pattern">
            Issuance Date should be provided in the format DD-MM-YYYY.
        </div>
      </div>
  <div class="alert alert-danger" *ngIf="(trusteeForm.controls.expirationDate.touched || trusteeForm.controls.expirationDate.dirty) && trusteeForm.controls.expirationDate.invalid">
        <div *ngIf="trusteeForm.controls.expirationDate.errors.required || trusteeForm.controls.expirationDate.errors.pattern">
        Expiration Date should be provided in the format DD-MM-YYYY.
        </div>
  </div>
  <div class="alert alert-danger" *ngIf="(trusteeForm.controls.noOfDependents.touched || trusteeForm.controls.noOfDependents.dirty) && trusteeForm.controls.noOfDependents.invalid">
        <div *ngIf="trusteeForm.controls.noOfDependents.errors.required || trusteeForm.controls.noOfDependents.errors.pattern">
            A trustee can have only 0 or more dependents.
        </div>
  </div>
  <div class="alert alert-danger" *ngIf="(trusteeForm.controls.maritalStatus.touched || trusteeForm.controls.maritalStatus.dirty) && trusteeForm.controls.maritalStatus.invalid">
        <div *ngIf="trusteeForm.controls.maritalStatus.errors.required || trusteeForm.controls.maritalStatus.errors.validDropDown">
            Please select a marital status.
        </div>
  </div>
  <div class="form-group row">
    <label for="inputPrefix" class="col-sm-2 col-form-label">Prefix</label>
    <div class="col-sm-3">
        <select class="form-control" id="inputPrefix" formControlName="prefix">
          <option>Please select...</option>
          <option>Mr.</option>
          <option>Ms.</option>
          <option>Mrs.</option>
        </select>
    </div>
    <label for="inputResidencyCountry" class="col-sm-4 col-form-label">Country of Residence</label>
    <div class="col-sm-3">
        <select class="form-control" id="inputResidencyCountry" formControlName="countryOfResidence">
          <option>Please select...</option>
          <option>Australia</option>
          <option>India</option>
          <option>United States</option>
        </select>
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputFirstName" formControlName="firstName">
    </div>
    <label for="inputPassport" class="col-sm-4 col-form-label">Passport #</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputPassport" formControlName="passport">
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="inputMiddleName" class="col-sm-2 col-form-label">Middle Name</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputMiddleName" formControlName="middleName">
    </div>
    <label for="inputIssuanceCountry" class="col-sm-4 col-form-label">Country of Issuance</label>
    <div class="col-sm-3">
        <select class="form-control" id="inputIssuanceCountry" formControlName="countryOfIssuance">
          <option>Please select...</option>
          <option>Australia</option>
          <option>India</option>
          <option>United States</option>
        </select>
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputLastName" formControlName="lastName">
    </div>
    <label for="inputIssuanceDate" class="col-sm-4 col-form-label">Issuance Date</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputIssuanceDate" formControlName="issuanceDate">
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="inputShortName" class="col-sm-2 col-form-label">Short Name</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputShortName"  formControlName="shortName">
    </div>
    <label for="inputExpirationDate" class="col-sm-4 col-form-label">Expiration Date</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputExpirationDate" formControlName="expirationDate">
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="inputSsn" class="col-sm-2 col-form-label">SSN</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputSsn" formControlName="ssn">
    </div>
    <label for="inputNoOfDependents" class="col-sm-4 col-form-label">No Of Dependents</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputNoOfDependents" formControlName="noOfDependents">
    </div>
  </div>
  <hr>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" id="gridMale" value="Male" formControlName="gender" [checked]="true">
          <label class="form-check-label" for="gridMale">
            Male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="gridFemale" value="Female" formControlName="gender">
          <label class="form-check-label" for="gridFemale">
            Female
          </label>
        </div>
      </div>
    </div>
  </fieldset>
    <div class="form-group row">
    <label for="inputMaritalStatus" class="col-sm-2 col-form-label">Marital Status</label>
    <div class="col-sm-3">
        <select class="form-control" id="inputMaritalStatus" formControlName="maritalStatus">
          <option>Please select...</option>
          <option>Married</option>
          <option>Unmarried</option>
        </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <button type="submit" class="btn btn-outline-info" routerLink="/trustees/new" [disabled]="!trusteeForm.valid">Create</button>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-outline-secondary" (click)="resetForm()">Reset</button>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-outline-dark" routerLink="/">Cancel</button>
    </div>
  </div>
</form>
